@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.408px;

}


.delet {
  fill: red;
  height: 28px;
}

.now {
  fill: #299E46;
  height: 28px;

}

.button-now,
.button-delet {
  background-color: white;
  border: 0;
  margin-left: -10px;
}

body {
  background-color: white;
  text-align: center;
  color: rgb(83, 83, 83);
}

.main {
  display: block;
  max-width: 995px;
  width: 100%;
  margin: 0 auto !important;
}

.container {
  width: 360px;
  height: 170px;
  margin: 0 auto;
  top: calc(50% - 170px/2);
  position: absolute;
  left: calc(50% - 360px/2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Name {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 22px;
}

.logo {
  background-image: url(/public/Logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.header-title {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.header-text {
  margin-left: 12px;
  display: flex;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;

}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-button {
  color: #299E46;
  background-color: white;
  font-style: normal;
  font-weight: 700;
  width: 55px;
  height: 19px;
  border: 0;
  font-size: 16px;
padding: 0;
}

.header-button:hover {
  text-decoration: 2px underline;

}


.button-table {
  display: flex;
  margin-top: 98px;
}

.button-table>button {
  width: 100px;
  height: 40px;
  background: #299E46;
  border: 0;
  color: white;
  border-radius: 12px;
}

.button-back {
  color: #299E46;
  background-color: white;
  font-style: normal;
  font-weight: 700;
  width: 55px;
  height: 19px;
  border: 0;
  font-size: 16px;
  position: absolute;
  margin-top: 160px;
}

.button-back:hover {
  text-decoration: 2px underline;

}


.text {
  font-size: 28px;
  margin-top: 200px;
}

.inpu {
  width: 284px;
  height: 44px;
  border: 1px solid #D1D1D6;
  border-radius: 10px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;

  padding-left: 12px;

}

.sert {
  font-size: 80px;
}

.password {
  margin-top: 16px;

}

.inpu:focus {
  outline: none;
}

.create-button {
  margin-top: 24px;
}

.create-button>button {
  width: 308px;
  height: 50px;
  background-color: #299E46;
  border: 0;
  color: white;
  margin-bottom: -12px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  border-radius: 12px !important;

}

.modal {
  position: absolute;
  background-color: #F2F2F7!important;
  width: 340px !important;
  height: 460px;
  left: 31%;
  top: 67px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  overflow: auto;
  margin: 0 auto;
  margin-top: 50px;
  outline: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  z-index: 9999;
}

.create {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 308px;
  height: 367px;
  margin-top: 60px;
}

.create>input {
  margin-top: 12px;
  height: 44px;
  background: #FFFFFF;

  border: 1px solid #D1D1D6;
  border-radius: 10px;
  align-self: stretch;
  font-size: 17px;
  padding-left: 12px;
}

.create-description {
  display: flex;
  padding-bottom: 45px;


}

.button>button {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  background-color: #299E46;
  border: 0;
  color: white;
  padding: 0;
  margin-top: 24px;
}

.button>button:active {
  background-color: #54c359;


}

.button-look {
  margin-left: 8px;
  border: 0;
  background-color: white;
  color: #299E46;
  font-weight: 700;

}


.button>button:hover {
  background-color: #54c359;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px !important;

}

.table_th,
.table_td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;

}

.table_td_button {
  width: 100px;
}

.table_td_price {
  width: 86px;
}

.table_td_d {
  width: 180px !important;
}

.table_thead {
  background-color: #e3e3e3;
  font-weight: bold;
}

.table_tbody {
  background-color: white;

}

.table_td {
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}

.modal-cancellation {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 16px;
  position: absolute;
  right: 16px;
  border: 0;

  background-image: url(./cancel.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.modal-error {
  font-size: 22px;
}

.modal-text {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  padding-top: 15px;
  width: 250px;
  margin: auto;
  word-wrap: break-word;
}

.modal-button {
  margin-bottom: auto;
  border: none;
  margin-top: 50px;
  width: 147px;
  height: 30px;
  color: white;
  background-color: #299E46;
  text-align: center;

}

.modal-button:active {
  background-color: #54c359;


}

.modal-button:hover {
  background-color: #54c359;
}

.footer {
  height: 200px;
}

.spans-title {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.spans {
  width: 20% !important;
}

.spans-2 {
  width: 35% !important;
}

.detail-content {
  margin-top: 64px;
}

.payments {
  width: 308px;

  margin-top: 70px;
}

.payments-tr-value {
 background-color: white;
}
